@import "./reset";
@import "./vars";
@import "./fonts";

/* BASIC SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  overflow-x: hidden;

  background: var(--color-blue);
  color: var(--color-white);

  @media (max-height: 610px) {
    overflow-x: hidden;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 75px;
}

::-webkit-scrollbar {
  background: var(--color-white);
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: inherit;
  font-family: inherit;
  line-height: 140%;
}

ul,
li {
  list-style-type: none;
}

.custom-pagination,
.custom-pagination-2,
.custom-pagination-3,
.custom-pagination-4 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.custom-pagination .swiper-pagination-bullet,
.custom-pagination-2 .swiper-pagination-bullet,
.custom-pagination-3 .swiper-pagination-bullet,
.custom-pagination-4 .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active,
.custom-pagination-2 .swiper-pagination-bullet-active,
.custom-pagination-3 .swiper-pagination-bullet-active,
.custom-pagination-4 .swiper-pagination-bullet-active {
  background-color: var(--color-blue-sec);
}

.banner {
  position: fixed;

  top: 65%;

  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);

  width: 90%;
  color: var(--color-black);
  background: var(--color-white);
  border-radius: 10px;
  padding: 10px;

  z-index: 999;

  button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--color-blue);
    color: var(--color-white);
  }
}

/* PRELOADER */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.circle_green {
  background-color: #05c196;
  transform: translateX(13px);
  animation: animate-green 2s linear infinite;
}

.circle_red {
  background-color: #f01753;
  transform: translateX(-13px);
  animation: animate-red 2s linear infinite;
}

@keyframes animate-green {
  0% {
    background-color: #560e5c;
  }

  3% {
    background-color: #560e5c;
    transform: translateX(13px);
  }

  9% {
    background-color: #05c196;
    transform: translateX(-20px);
  }

  14% {
    transform: translateX(2px);
  }

  18% {
    transform: translateX(-12px);
  }

  21% {
    transform: translateX(-3px);
  }

  23% {
    transform: translateX(-9px);
  }

  24% {
    transform: translateX(-7px);
  }

  30% {
    transform: translateX(-7px) scale(1);
    animation-timing-function: cubic-bezier(0.6, 0, 1, 1);
  }

  43% {
    z-index: -1;
    transform: translateX(13px) scale(0.6);
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  }

  56% {
    z-index: 1;
    transform: translateX(33px) scale(1);
    animation-timing-function: cubic-bezier(0.6, 0, 1, 1);
  }

  69% {
    transform: translateX(13px) scale(1.4);
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  }

  82% {
    z-index: 1;
    background-color: #05c196;
    transform: translateX(-7px) scale(1);
    animation-timing-function: ease-in;
  }

  98% {
    background-color: #560e5c;
    transform: translateX(13px);
  }

  100% {
    background-color: #560e5c;
  }
}

@keyframes animate-red {
  0% {
    background-color: #560e5c;
  }

  3% {
    background-color: #560e5c;
    transform: translateX(-13px);
  }

  9% {
    background-color: #f01753;
    transform: translateX(20px);
  }

  14% {
    transform: translateX(-2px);
  }

  18% {
    transform: translateX(12px);
  }

  21% {
    transform: translateX(3px);
  }

  23% {
    transform: translateX(9px);
  }

  24% {
    transform: translateX(7px);
  }

  30% {
    transform: translateX(7px) scale(1);
    animation-timing-function: cubic-bezier(0.6, 0, 1, 1);
  }

  43% {
    transform: translateX(-13px) scale(1.4);
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  }

  56% {
    transform: translateX(-33px) scale(1);
    animation-timing-function: cubic-bezier(0.6, 0, 1, 1);
  }

  69% {
    transform: translateX(-13px) scale(0.6);
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  }

  82% {
    background-color: #f01753;
    transform: translateX(7px) scale(1);
    animation-timing-function: ease-in;
  }

  98% {
    background-color: #560e5c;
    transform: translateX(-13px);
  }

  100% {
    background-color: #560e5c;
  }
}
